# ============================================
# Enterprise RAG
# ============================================

# -------------------------------------------------
# Node.js
# -------------------------------------------------
node_modules/
dist/
build/

# Environment Variables
.env
.env.*

# -------------------------------------------------
# Python
# -------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

# Python packaging
*.egg-info/
.eggs/
pip-wheel-metadata/

# -------------------------------------------------
# Uploaded Documents & Vector Database
# -------------------------------------------------
backend/uploads/
backend/chroma_db/

# -------------------------------------------------
# Logs
# -------------------------------------------------
*.log
logs/
backend/logs/

# -------------------------------------------------
# Testing & Coverage
# -------------------------------------------------
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.cache/

# -------------------------------------------------
# SQLite / Local Databases
# -------------------------------------------------
*.db
*.sqlite3

# -------------------------------------------------
# IDE / Editors
# -------------------------------------------------
.vscode/
.idea/

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# -------------------------------------------------
# Operating System Files
# -------------------------------------------------
.DS_Store
Thumbs.db

# -------------------------------------------------
# Temporary Files
# -------------------------------------------------
*.tmp
*.temp